@import '~bootstrap/scss/bootstrap';
$black: #000;

h1 {
  text-align: center;
  justify-content: right;
  font-style: bold;
  height: 250;
  weight: 250;
  text-decoration-style: double;
  text-decoration-line: underline;
  font-family: georgia;
  font-size: 350%;
}

body {
  background-image: url('http://www.pptbackgrounds.org/uploads/tic-tac-toe-backgrounds-wallpapers.jpg');
  background-position: stretch;
  justify-content: center;
}
//boarder css
.boardcontainer {
  max-height: 80vw;
  max-width: 80vw;
  width: 250px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
}

#show {
  display: none;
}

#change-password-button {
  display: none;
}

#sign-out-button {
  display: none;
}

#restart-button {
  display: none;
}

.gmodal-body-color {
  background: grey;
}

.flex-wrap {
  //flex-wrap: wrap;
}

.center {
  margin-left: 525px;
}
.centertwo {
  margin-left: 95px;
}

 .box {
  justify-content: center;
  text-align: center;
  font-style: oblique;
  font-size: 100px;
  font-family: inherit;
}
//modal css
.btn {
  // margin: auto;
  background-color: black;
  color: white;

}
//Game Board css
.board {
  width: 600px;
}

.box {
  width: 150px;
  height: 150px;
  border: 4px solid;
}


.boxleft {
  border-left: none;
}

.boxright {
  border-right: none;
}

.boxbottom {
  border-bottom: none;
}

.boxtop {
  border-top: none;
}

.box:hover {

}
